.row {
    margin-top: 2%;
}

.row .carousel {
    display: flex;
    overflow: hidden;
    margin-top: 1%;
}

.row h1 {

    margin-left: 2.5%;
    font-family: 'Star Jedi';
}

#light .row h1 {
    color: blue;
}

#dark .row h1 {
    color: yellow;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-button-prev {
    color: #0000;
}

.swiper-button-next {
    color: #0000;
}


/* @media(max-width : 1000px) {

    .swiper-slide{
    }

     

} */