.row .carousel{
    display: flex;
    
}

.row .buttons{
    display: flex;
    justify-content: center;
    
}

.row .buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    margin-top: 1%;
    
}

.row .buttons button:hover{
    color: red;
}

.row h1{
    color: yellow;
    margin-left: 2%;
    font-family: 'Star Jedi';
}


