.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    color: yellow;
}

#light .menu{
    background-color: blue;
}

#dark .menu{
    background-color: black;
}

.menu h1 {
    font-family: 'Star Jedi';
    margin-left: 2%;
}

.menu .buttons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    width: 30em;
    overflow: hidden;
    
    
}

.buttons a {
    font-family: 'Star Sith';
    text-decoration: none;
    color: yellow;
    transition: 2s;
    

    

}

.buttons a:hover{
    font-family: 'Star Jedi';

}