.sidebar{
    background-color: hsl(230, 21%, 11%,0.9);
    position:absolute;
    height: 14em;
    top: 4.9em;
    right: 0;
    width: 20em;
    transition: .3s;
    z-index: 2;
}

#light .sidebar{
    background-color: hsl(240, 100%, 50%,0.6);
}




.sidebar a{
    color: yellow;
    font-family: 'Star Sith';
    text-decoration: none;   
    margin-top: 1em ;
    margin-bottom:1em ;
    font-size: 1.3em;
    padding-left: 4em;
    padding-right: 3em;    
    display: flex;
}

.sidebar a:hover{
    font-family: 'Star Jedi';
    transition: .3s;
}

.sidebar .options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .user{
    margin-top: 5%;
    margin-right: 0.4em;
}

.sidebar .book, .planet{
    margin-top: 8%;
    margin-right: 0.4em;
    
}











