.card{
    display: flex;
    flex-direction: column;
    flex: none;
    background-color:#711A75 ;
    margin: 2% 3% 2% 1.5%;
    border: 2px solid black;
    border-radius: 7px;
    width: 15em;
    height: 15em;
    padding: 1%;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 10px 8px 10px  rgb(47, 46, 46);

}

.card p{
    margin-bottom: 5%;
}

.card span{
    color: white;
}

.card .name{
    
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 10%;
    text-align: center;
}

.card .buttons{
    background-color: black;
}

